
extends ../layout/layout

block head-title
  title 금강경 제1분 법회가 열리다

block content

  .page-title
    h1
      | 제1분
      br
      | 법회가 열리다

  .page-content.page-content-center

    p.
      한때 부처님께서 사위국 기수급고독원에
      비구 천이백오십 인과 함께 계셨습니다.

    p.
      식사 시간이 되자
      세존께서는 옷을 입고 공양 그릇을 들고
      사위국의 큰 성으로 들어가셨습니다.

    p.
      성안에서 한 집 한 집 걸식하시고는
      본래 거처로 돌아오셨습니다.

    p.
      식사를 끝내고 그릇과 옷을 정리하셨습니다.
      발을 씻고 자리를 펴고 앉으셨습니다.

    p.go-to-index
      a(href="02.html") 다음
      a(href="index.html") 목차

