
extends ../layout/layout

block head-title
  title 금강경 제5분 여래를 보다

block content

  .page-title
    h1
      | 제5분
      br
      | 여래를 보다

  .page-content.page-content-center

    p.
      "수보리야, 어떻 생각하느냐,
      신상으로 여래를 볼 수 있느냐."

    p.
      "없습니다, 세존.
      신상으로 여래를 볼 수 없습니다.
      왜냐하면, 여래께서 말씀하신 바,
      신상이 신상이 아니기 때문입니다."

    p.
      부처님께서 수보리에게 말씀하셨습니다.

    p.
      "무릇 상이 있는 바는 모두 허망하다.
      만일 모든 상이 상이 아님을 본다면 여래를 보리라."

    p.
      *

    p.
      신상: 몸이 어떻게 생겼다는 생각

    include part-aaa.pug

    p.go-to-index
      a(href="06.html") 다음
      a(href="index.html") 목차

