
extends ../layout/layout

block head-title
  title 금강경 제6분 바른 믿음이 드물다

block content

  .page-title
    h1
      | 금강경 제6분
      br
      | 바른 믿음이 드물다

  .page-content.page-content-center

    p.
      수보리가 부처님께 여쭈었습니다.

    p.
      "세존, 부족한 중생들이 이와 같은 말씀과 문장과 글귀를 듣고
      진실로 믿는 마음을 낼 수 있겠습니까."

    p.
      부처님께서 수보리에게 말씀하셨습니다.

    p.
      "그런 말을 하지 마라.
      여래가 열반에 든 뒤, 후오백세에,
      계율을 지키고 복을 닦는 자가 있다면,
      이 문장과 글귀에 능히 믿는 마음을 낼 것이다.
      그 믿음에 의지할 것이다.

    p.
      마땅히 알라.
      한 부처, 두 부처, 셋, 넷, 다섯 부처에만 선의 뿌리를 심어둔 것이 아니다.
      이미 한량없는 천만 부처의 처소에 모든 선의 뿌리를 심어두었다.
      이들이 이 문장과 글귀 또는 한 생각이라도 듣는다면
      깨끗한 믿음을 낼 것이다.

    p.
      수보리야, 여래는 모든 것을 알고, 모든 것을 본다.
      이 모든 중생이 이와 같은 한량없는 복덕을 얻을 것이다.

    p.
      왜 그렇겠느냐,
      이 모든 중생이 아상, 인상, 중생상, 수자상이 없기 때문이다.
      법이란 것이 있다는 생각이 없기 때문이다.
      이것은 법이 아니란 생각도 없기 때문이다.

    p.
      왜 그렇겠느냐,
      이 모든 중생이 만약 마음에 상을 취하면 아, 인, 중생, 수자에 붙들리기 때문이다.
      만일 이것이 법이다란 생각을 취하면 아, 인, 중생, 수자에 붙들리기 때문이다.
      만일 이것은 법이 아니다란 생각을 취하여도 아, 인, 중생, 수자에 붙들리기 때문이다.

    p.
      그러므로, 마땅히 이것이 법이다란 생각을 취하지 말아야 한다.
      이것은 법이 아니다란 생각도 취하지 말아야 한다.

    p.
      이러한 뜻으로 여래는 항상 말한다.
      너희 비구들은 나의 설법을 뗏목처럼 여겨야 한다.
      이 법 또한 버려야 한다.
      하물며 법이 아닌 것들은 어떻겠느냐."

    p.
      *

    p.
      아상: 나와 네가 구분된다는 생각.
      인상: 인간과 다른 생물이 구분된다는 생각.
      중생상: 생물과 무생물이 구분된다는 생각.
      수자상: 존재와 비존재가 구분된다는 생각.

    p.go-to-index
      a(href="07.html") 다음
      a(href="index.html") 금강경

