
extends ../layout/layout

block head-title
  title 금강경 제8분 모든 법이 태어나는 곳

block content

  .page-title
    h1
      | 금강경 제8분
      br
      | 모든 법이 태어나는 곳

  .page-content.page-content-center

    p.
      "수보리야, 어떻게 생각하느냐.
      만일 어떤 사람이 삼천대천세계 가득 칠보로 보시한다면,
      이 사람이 얻을 복덕이 많지 않겠느냐."

    p.
      수보리가 대답하였습니다.

    p.
      "아주 많습니다, 세존.
      왜냐하면, 이 복덕은 복덕성이 아니기 때문입니다.
      이런 까닭에 여래가 복덕이 많다고 하십니다."

    p.
      "만일 다시 어떤 사람이
      이 경 중에서 사구게를 받고 깨달아 다른 사람을 위해 설해 준다면,
      이 복은 앞의 복보다 크다.

    p.
      왜냐하면, 수보리야.
      일체의 모든 부처와 모든 부처의 아뇩다라삼먁삼보리법이
      다 이 경을 따라 태어나기 때문이다.

    p.
      수보리야, 이른바 불법이라는 것은 불법이 아니다."

    p.
      *

    p.
      사구게: 네 개의 문장으로 된 시

    p.
      아뇩다라삼먁삼보리: 더 없는 평등함과 더 없는 깨달음

    include part-aaa.pug

    p.go-to-index
      a(href="09.html") 다음
      a(href="index.html") 목차

