
extends ../layout/layout

block head-title
  title 금강경 제11분 함이 없는 복이 더 크다

block content

  .page-title
    h1
      | 금강경 제11분
      br
      | 함이 없는 복이 더 크다

  .page-content.page-content-center

    p.
      "수보리야, 항하의 모래 수만큼 항하가 있다면,
      어떻게 생각하느냐, 이 모든 항하의 모래는 많지 않겠느냐."

    p.
      수보리가 대답하였습니다.

    p.
      "아주 많습니다, 세존.
      모든 항하만 해도 헤아릴 수 없이 많습니다.
      그 모든 항하의 모래라면 얼마나 많겠습니까."

    p.
      "수보리야, 내가 지금 너에게 진실하게 말한다.
      만일 선남자선여인이 그 모든 항하의 모래 수만큼의 삼천대천세계를
      칠보로 가득 채워 보시한다면,
      그로써 얻는 복이 많지 않겠느냐."

    p.
      수보리가 대답하였습니다.

    p.
      "아주 많습니다, 세존."

    p.
      부처님께서 수보리에게 말씀하셨습니다.

    p.
      "수보리야, 만일 선남자선여인이
      이 경 중에서 사구게를 받고 깨달아 다른 사람을 위해 설해 준다면,
      이 복덕이 앞의 복덕보다 크다."

    p.
      *

    p.
      사구게: 네 개의 문장으로 된 시

    p.go-to-index
      a(href="12.html") 다음
      a(href="index.html") 목차

