
extends ../layout/layout

block head-title
  title 금강경 제12분 바른 가르침을 존중하다

block content

  .page-title
    h1
      | 제12분
      br
      | 바른 가르침을 존중하다

  .page-content.page-content-center

    p.
      "또한, 수보리야,
      이 경 속에서 사구게를 받고 깨달아 다른 사람을 위해 설해 준다면,
      마땅히 알라, 이곳이 부처의 탑이고 사당인 것처럼,
      일체세간 천인 아수라가 응당 공양할 것이다.
      하물며 어떤 사람이 이 경의 수지독송에 전력한다면 어떻겠느냐.
      수보리야, 마땅히 알라, 이 사람은 최상 제일의 귀한 법을 성취하리라.
      이 경전이 있는 것은 부처가 있는 것과 같고,
      존경 받는 제자들이 있는 것과 같다."

    p.
      *

    p.
      사구게: 네 개의 문장으로 된 시

    p.
      수지독송: 받아 지니고 읽고 노래하다.

    p.go-to-index
      a(href="13.html") 다음
      a(href="index.html") 목차

