
extends ../layout/layout

block head-title
  title 금강경 제13분 변하지 않는 법을 받아 지니다

block content

  .page-title
    h1
      | 금강경 제13분
      br
      | 변하지 않는 법을 받아 지니다

  .page-content.page-content-center

    p.
      그때 수보리가 부처님께 여쭈었습니다.

    p.
      "세존, 마땅히 이 경의 이름을 무엇이라 해야겠습니까.
      저희가 어떻게 받들어 지녀야 하겠습니까."

    p.
      부처님께서 수보리에게 말씀하셨습니다.

    p.
      "이 경의 이름을 '금강반야바라밀'로 하라.
      이 이름 글자대로 너희들은 마땅히 받들어 지녀야 한다.
      무슨 까닭이냐 하면, 수보리야, 부처가 말한다,
      반야바라밀이란 반야바라밀이 아니다.
      그 이름이 반야바라밀이다."

    p.
      "수보리야, 어떻게 생각하느냐.
      여래가 법을 설한 바가 있느냐."

    p.
      수보리가 부처님께 말씀드렸습니다.

    p.
      "세존, 여래께서 설한 바가 없으십니다."

    p.
      "수보리야, 어떻게 생각하느냐.
      삼천대천세계에 있는 미진이 많다고 하겠느냐."

    p.
      수보리가 대답하였습니다.

    p.
      "아주 많습니다, 세존."

    p.
      "수보리야, 모든 미진은, 여래가 말한다, 미진이 아니다.
      그 이름이 미진이다.
      여래가 말한다, 세계란 세계가 아니다.
      그 이름이 세계이다."

    p.
      "수보리야, 어떻게 생각하느냐.
      가이 32상으로 여래를 볼 수 있겠느냐."

    p.
      "볼 수 없습니다, 세존.
      32상으로 여래를 볼 수 없습니다.
      왜냐하면, 여래께서 말씀하셨습니다, 32상이란 상이 아닙니다.
      그 이름이 32이상입니다."

    p.
      "수보리야, 만일 선남자선여인이
      항하사만큼의 몸과 목숨으로 보시한다 하더라도,
      만일 다시 어떤 사람이
      이 경 속에서 사구게를 받고 깨달아 다른 사람을 위해 설해 준다면,
      그 복이 더 많으리라."

    p.
      *

    p.
      금강: 다이아몬드.
      반야: 지혜.
      바라밀: 피안의 세계에 도달하다.

    p.
      미진: 작은 티끌.

    p.
      사구게: 네 개의 문장으로 된 시.

    p.
      항하사: 항하의 모래

    include part-aaa.pug

    p.go-to-index
      a(href="14.html") 다음
      a(href="index.html") 금강경

