
extends ../layout/layout

block head-title
  title 금강경 제17분 마침내 나도 없으니

block content

  .page-title
    h1
      | 금강경 제17분
      br
      | 마침내 나도 없으니

  .page-content.page-content-center

    p.
      그때 수보리가 부처님께 여쭈었습니다.

    p.
      "세존, 선남자선여인이 아뇩다라삼먁삼보리의 마음을 발하였다면
      어떻게 머물며 어떻게 그 마음을 다스려야 합니까."

    p.
      부처님이 수보리에게 말씀하셨습니다.

    p.
      "만일 선남자선여인이 아뇩다라삼먁삼보리의 마음을 발하였다면
      마땅히 이과 같은 마음을 내야 한다.
      '내가 마땅히 일체 중생을 멸도하리라.'
      '일체 중생을 멸도하지만 실로 멸도한 것은 일 중생도 없으리라.'
      왜냐하면, 수보리야, 만일 보살이 아상, 인상, 중생상, 수자상이 있으면
      보살이 아니기 때문이다.
      왜냐하면, 수보리야, 실로 법이 있음이 없어야
      아뇩다라삼먁삼보리의 마음을 발할 수 있기 때문이다."

    p.
      "수보리야, 어떻게 생각하느냐,
      여래가 연등불 계시던 곳에서
      법이 있어 아뇩다라삼먁삼보리를 얻었겠느냐."

    p.
      "그렇지 않습니다, 세존.
      저는 부처님이 말씀하신 뜻을 이렇게 이해하고 있습니다.
      부처님께서는 연등불 계시던 곳에서
      법이 있음이 없었기 때문에 아뇩다라삼먁삼보리를 얻으셨습니다."

    p.
      부처님이 말씀하셨습니다.

    p.
      "그러하다. 그러하다.
      수보리야, 실로 법이 있음이 없었기 때문에 여래가 아뇩다라삼먁삼보리를 얻을 수 있었다.
      수보리야, 만일 법이 있어 여래가 아뇩다라삼먁삼보리를 얻었다면,
      연등불께서 다음과 같은 수기를 주지 않으셨을 것이다.
      '너는 내세에 마땅히 부처를 이루고 이름을 석가모니라 하리라.'
      실로 법이 있음이 없음으로 아뇩다라삼먁삼보리를 얻었기 때문에
      이러한 연고로 연등불께서 내게 수기를 주시고 다음과 같이 말씀하셨다.
      '너는 내세에 마땅히 부처를 이루고 이름을 석가모니라 하리라.'

    p.
      왜냐하면, 여래한 자에겐 모든 법이 다르지 않기 때문이다.
      만일 어떤 사람이 '여래는 아뇩다라삼먁삼보리를 얻었다'고 말하더라도,
      수보리야, 실로 법이 있음이 없었기에 부처가 아뇩다라삼먁삼보리를 얻었음을 알아라.
      수보리야, 여래가 아뇩다라삼먁삼보리를 얻은 바 이중엔 실함도 없었고 허함도 없었다.
      이러한 까닭에, 여래가 말한다, 일체 법이 다 불법이다.
      수보리야, 여기서 일체 법이란 일체 법이 아니다.
      이름이 일체 법이다.
      수보리야, 비유하건데 '사람의 몸이 크다'는 것과 같다."

    p.
      수보리가 말했습니다.

    p.
      "세존, 여래의 '사람의 몸이 크다'는 말씀이 곧 큰 몸인 것은 아닙니다.
      그 이름이 '큰 몸'입니다."

    p.
      "수보리야, 보살도 이와 같다.
      '내가 마땅히 한없이 많은 중생을 멸도하리라'
      보살이 이와 같이 말한다면 보살이라 이름할 수 없다.
      왜냐하면, 수보리야, 실로 법이 있음이 없음을 이름하여 보살이라 하기 때문이다.
      이러한 까닭에, 부처가 말한다, 일체 법에 아, 인, 중생, 수자가 없다.

    p.
      수보리야, '내가 마땅히 부처의 땅을 장엄하리라.'
      만일 보살이 이와 같이 말한다면 이것은 보살이라 이름할 수 없다.
      왜냐하면, 여래가 말한다, 장엄불토라는 것은 장엄이 아니다.
      그 이름이 장엄이다.

    p.
      수보리야, 만일 보살이 무아법에 통달하면
      여래가 이름하길 진시 보살이라 한다."

    p.
      *

    p.
      아뇩다라삼먁삼보리: 더 없는 평등함과 더 없는 깨달음.

    p.
      아상: 나와 네가 구분된다는 생각.
      인상: 인간과 다른 생물이 구분된다는 생각.
      중생상: 생물과 무생물이 구분된다는 생각.
      수자상: 존재와 비존재가 구분된다는 생각.

    p.
      수기: 부처가 제자에게 주는 가르침, 예언

    include part-aaa.pug

    p.go-to-index
      a(href="18.html") 다음
      a(href="index.html") 목차

