
extends ../layout/layout

block head-title
  title 금강경 제18분 일체를 하나로 보니

block content

  .page-title
    h1
      | 제18분
      br
      | 일체를 하나로 보니

  .page-content.page-content-center

    p.
      "수보리야, 어떻게 생각하느냐,
      여래에게 육안이 있느냐."

    p.
      "그렇습니다, 세존.
      여래에게 육안이 있습니다."

    p.
      "수보리야, 어떻게 생각하느냐,
      여래에게 천안이 있느냐."

    p.
      "그렇습니다, 세존.
      여래에게 천안이 있습니다."

    p.
      "수보리야, 어떻게 생각하느냐,
      여래에게 혜안이 있느냐."

    p.
      "그렇습니다, 세존.
      여래에게 혜안이 있습니다."

    p.
      "수보리야, 어떻게 생각하느냐,
      여래에게 법안이 있느냐."

    p.
      "그렇습니다, 세존.
      여래에게 법안이 있습니다."

    p.
      "수보리야, 어떻게 생각하느냐,
      여래에게 불안이 있느냐."

    p.
      "그렇습니다, 세존.
      여래에게 불안이 있습니다."

    p.
      "수보리야, 어떻게 생각하느냐,
      항하중에 있는 모래와 같이, 부처가 이 모래에 대해 말하였느냐."

    p.
      "그렇습니다, 세존.
      여래께서 이 모래에 대해 말씀하셨습니다."

    p.
      "수보리야, 어떻게 생각하느냐,
      일 항하에 있는 모래만큼 항하가 있고,
      이 모든 항하에 있는 모래 수만큼 불세계가 있다면
      그것이 많지 않겠느냐."

    p.
      "매우 많습니다, 세존."

    p.
      부처님이 수보리에게 말씀하셨습니다.

    p.
      "이 국토중에 있는 중생의 갖가지 종류의 마음을 여래는 모두 안다.
      그러므로, 여래가 말한다, 이 모든 마음은 다 마음이 아니다.
      그 이름이 마음이다.
      그러므로, 수보리야, 과거의 마음은 얻을 수 없다.
      현재의 마음도 얻을 수 없다.
      미래의 마음도 얻을 수 없다."

    p.
      *

    p.
      육안: 육체의 감각.
      천안: 사물의 근본을 통찰하는 직관.
      혜안: 제법이 공한 이치를 보는 지혜의 눈.
      법안: 인연 따라 일어나는 만상을 빠짐 없이 보는 눈.
      불안: 일체가 모두 같음을 보는 눈.

    include part-aaa.pug

    p.go-to-index
      a(href="19.html") 다음
      a(href="index.html") 목차

