
extends ../layout/layout

block head-title
  title 금강경 제19분 법계를 교화하다

block content

  .page-title
    h1
      | 제19분
      br
      | 법계를 교화하다

  .page-content.page-content-center

    p.
      "수보리야, 어떻게 생각하느냐.
      만일 어떤 사람이 만x삼천x대천세계만큼의 칠보로 보시한다면
      이 사람이 이 인연으로 복 얻음이 많지 않겠느냐."

    p.
      "그렇습니다, 세존.
      이 사람이 이 인연으로 복 얻음이 매우 많습니다."

    p.
      "수보리야, 만일 복덕이 실로 있는 것이라면
      여래가 복덕 얻음이 많다고 말하지 않았을 것이다.
      복덕이 없는 이유로 여래가 복덕 얻음이 많다고 말한다."

    p.go-to-index
      a(href="20.html") 다음
      a(href="index.html") 목차

