
extends ../layout/layout

block head-title
  title 금강경 제20분 색을 떠나고 상을 떠나다

block content

  .page-title
    h1
      | 금강경 제20분
      br
      | 색을 떠나고 상을 떠나다

  .page-content.page-content-center

    p.
      "수보리야, 어떻게 생각하느냐.
      부처를 가히 구족색신으로 알아 볼 수 있느냐."

    p.
      "그럴 수 없습니다, 세존.
      여래를 응당 구족색신으로 알아 볼 수 없습니다.
      왜냐하면, 여래가 말씀하셨습니다,
      구족색신이란 구족색신이 아닙니다.
      그 이름이 구족색신입니다."

    p.
      "수보리야, 어떻게 생각하느냐.
      여래를 가히 구족제상으로 알아 볼 수 있느냐."

    p.
      "그럴 수 없습니다, 세존.
      여래를 응당 구족제상으로 알아 볼 수 없습니다."
      왜냐하면, 여래가 말씀하셨습니다,
      구족제상이란 구족제상이 아닙니다.
      그 이름이 구족제상입니다."

    p.
      *

    p.
      구족색신: 빠짐 없이 갖추어 부족함이 없는 보살이나 부처의 몸.

    p.
      구족제상: 빠짐 없이 갖추어 부족함이 없는 모든 상.

    include part-aaa.pug

    p.go-to-index
      a(href="21.html") 다음
      a(href="index.html") 금강경

