
extends ../layout/layout

block head-title
  title 금강경 제22분 얻을 수 있는 법이 없다

block content

  .page-title
    h1
      | 금강경 제22분
      br
      | 얻을 수 있는 법이 없다

  .page-content.page-content-center

    p.
      수보리가 부처님께 여쭈었습니다.

    p.
      "세존, 부처님께서 아뇩다라삼먁삼보리를 얻었다는 것은
      얻은 바가 없다는 것입니까."

    p.
      부처님께서 말씀하셨습니다.

    p.
      "그러하다, 그러하다.
      수보리야, 아뇩다라삼먁삼보리뿐만 아니라 더 나아가
      얻을 수 있는 작은 법조차 있음이 없었다.
      그 이름이 아뇩다라삼먁삼보리일 뿐이다."

    p.
      *

    p.
      아뇩다라삼먁삼보리: 더 없는 평등함과 더 없는 깨달음.

    p.go-to-index
      a(href="23.html") 다음
      a(href="index.html") 금강경

