
extends ../layout/layout

block head-title
  title 금강경 제23분 청정한 마음으로 선을 행하다

block content

  .page-title
    h1
      | 금강경 제23분
      br
      | 청정한 마음으로 선을 행하다

  .page-content.page-content-center

    p.
      "또한, 수보리야, 이 법은 평등하고 높고 낮음이 없다.
      해서 그 이름이 아뇩다라삼먁삼보리이다.

    p.
      아, 인, 중생, 수자가 없음으로 일체 선법을 닦는다면
      곧 아뇩다라삼먁삼보리를 얻으리라.

    p.
      수보리야, 여기서 말한 선법이란, 여래가 말한다, 선법이 아니다.
      그 이름이 선법이다."

    p.
      *

    p.
      아뇩다라삼먁삼보리: 더 없는 평등함과 더 없는 깨달음.

    p.
      아상: 나와 네가 구분된다는 생각.
      인상: 인간과 다른 생물이 구분된다는 생각.
      중생상: 생물과 무생물이 구분된다는 생각.
      수자상: 존재와 비존재가 구분된다는 생각.

    include part-aaa.pug

    p.go-to-index
      a(href="24.html") 다음
      a(href="index.html") 금강경

