
extends ../layout/layout

block head-title
  title 금강경 제26분 법신은 상이 아니다

block content

  .page-title
    h1
      | 제26분
      br
      | 법신은 상이 아니다

  .page-content.page-content-center

    p.
      "수보리야, 어떻게 생각하느냐,
      32 상으로 여래를 볼 수 있느냐."

    p.
      수보리가 대답하였습니다.

    p.
      "그렇습니다, 그렇습니다. 32 상으로 여래를 볼 수 있습니다."

    p.
      부처님이 말씀하셨습니다.

    p.
      "수보리야, 만일 32 상으로 여래를 본다면 전륜성왕이 곧 여래이리라."

    p.
      수보리가 부처님께 말씀드렸습니다.

    p.
      "세존, 부처님 말씀하신 바의 뜻을 이해하였습니다.
      32 상으로 여래를 보지 못합니다."

    p.
      이때 세존께서 게송으로 말씀하셨습니다.

    p.
      "만일 색으로 나를 보려하거나,
      음성으로 나를 구한다면,
      이 사람은 사도를 행하는 것이다.
      능히 여래를 보지 못하리라."

    p.
      *

    p.
      32상: 부처나 전륜성왕이 몸에 지니고 있다는 32가지 모습.

    p.
      전륜성왕: 몸에 32상을 갖추고 하늘로부터 금, 은, 동, 철의 네 윤보를 얻어서
      이를 굴리면서 사방을 위엄으로 굴복하게 하여 천하를 다스린다는 인도 신화 속의 임금.

    p.go-to-index
      a(href="27.html") 다음
      a(href="index.html") 목차

