
extends ../layout/layout

block head-title
  title 금강경 제28분 받지도 탐하지도 않는다

block content

  .page-title
    h1
      | 제28분
      br
      | 받지도 탐하지도 않는다

  .page-content.page-content-center

    p.
      "수보리야, 만일 보살이 항하사 만큼의 세계를 그득 채운 칠보로 보시하더라도,
      만일 다시 어떤 사람이 일체 법에 아가 없음을 알아 인욕을 성취하면
      이 보살은 앞 보살이 얻은 바 공덕을 능가한다.
      왜냐하면, 수보리야, 모든 보살은 복덕을 받지 않기 때문이다."

    p.
      수보리가 부처님께 어쭈었습니다.

    p.
      "세존, 어찌하여 보살은 복덕을 받지 않습니까."

    p.
      "수보리야, 보살은 지은 바 복덕에 응당 탐착하지 않는다.
      이런 이유로 복덕을 받지 않는다고 말한다."

    p.
      *

    p.
      항하사: 항하의 모래

    p.
      인욕: 마음을 가라앉혀 온갖 욕됨과 번뇌를 참고 원한을 일으키지 않음.

    p.go-to-index
      a(href="29.html") 다음
      a(href="index.html") 목차

