
extends ../layout/layout

block head-title
  title 금강경 제29분 위의가 적정하다

block content

  .page-title
    h1
      | 제29분
      br
      | 위의가 적정하다

  .page-content.page-content-center

    p.
      "수보리야, '여래가 오기도 하고 가기도 하고 앉기도 하고 눕기도 한다',
      만일 어떤 사람이 이렇게 말한다면 이 사람은 내가 말한 바를 이해하지 못하는 것이다.
      왜냐하면, 여래란 오는 바가 없으며 또한 가는 바가 없어 이름이 여래이기 때문이다."

    p.go-to-index
      a(href="30.html") 다음
      a(href="index.html") 목차

