
extends ../layout/layout

block head-title
  title 금강경 제30분 이와 상을 하나로 합하다

block content

  .page-title
    h1
      | 제30분
      br
      | 이와 상을 하나로 합하다

  .page-content.page-content-center

    p.
      "수보리야, 만일 선남자선여인이 삼천대천세계를 빻아서 미진을 만든다면,
      어떻게 생각하느냐, 이 미진들이 많지 않겠느냐."

    p.
      "아주 많습니다, 세존.
      왜냐하면, 만일 이 미진들이 실로 있는 것이라면
      부처님께서 이 미진들을 말씀하지 않으셨을 것입니다.
      왜냐하면, 부처님께서 말씀하셨습니다, 미진들이란 미진들이 아닙니다.
      그 이름이 미진들입니다.

    p.
      세존, 여래께서 말씀하신 삼천대천세계는 세계가 아닙니다.
      그 이름이 세계입니다.
      왜냐하면, 만일 세계가 실로 있는 것이라면 곧 이것은 일합상입니다.
      여래께서 말씀하셨습니다, 일합상이란 일합상이 아닙니다.
      그 이름이 일합상입니다."

    p.
      "수보리야, 일합상이라는 것은 곧 말할 수 없다.
      다만 범부들이 이것에 탐착하느니라."

    p.
      *

    p.
      미진: 가는 티끌

    p.go-to-index
      a(href="31.html") 다음
      a(href="index.html") 목차

