extends ../layout/layout

block content

  .page-title
    h1 죄송합니다

  .section
    .text
      | 죄송합니다.
      br
      | 요청하신 페이지 주소가 변경된 것 같습니다.
      br
      br
      |
      a(href='/geum-gang-gyeong') 첫 페이지로 돌아가기
