
extends ../layout/layout

block head-title
  title 금강경

block content

  .page-title
    h1 금강경

  .page-content-index

    ul
      li: a(href="01.html") 제1분, 법회가 열리다
      li: a(href="02.html") 제2분, 수보리, 법을 청하다
      li: a(href="03.html") 제3분, 모든 것들이 완전한 열반에 들게 하리라
      li: a(href="04.html") 제4분, 행함에 거함이 없다
      li: a(href="05.html") 제5분, 여래를 보다
      li: a(href="06.html") 제6분, 바른 믿음이 드물다
      li: a(href="07.html") 제7분, 얻을 것도 말할 것도 없다
      li: a(href="08.html") 제8분, 모든 법이 태어나는 곳
      li: a(href="09.html") 제9분, 일상 마저도 무상하다
      li: a(href="10.html") 제10분, 깨끗한 땅을 장엄하다
      li: a(href="11.html") 제11분, 함이 없는 복이 더 크다
      li: a(href="12.html") 제12분, 바른 가르침을 존중하다
      li: a(href="13.html") 제13분, 변하지 않는 법을 받아 지니다
      li: a(href="14.html") 제14분, 상을 떠나 적멸하다
      li: a(href="15.html") 제15분, 경을 받아 지니는 공덕
      li: a(href="16.html") 제16분, 선세의 죄업을 씻다
      li: a(href="17.html") 제17분, 마침내 나도 없으니
      li: a(href="18.html") 제18분, 일체를 하나로 보니
      li: a(href="19.html") 제19분, 법계를 교화하다
      li: a(href="20.html") 제20분, 색을 떠나고 상을 떠나다
      li: a(href="21.html") 제21분, 설함이 설함이 아니다
      li: a(href="22.html") 제22분, 얻을 수 있는 법이 없다
      li: a(href="23.html") 제23분, 청정한 마음으로 선을 행하다
      li: a(href="24.html") 제24분, 복과 지혜는 비교할 수가 없다
      li: a(href="25.html") 제25분, 교화하나 교화하는 바가 없다
      li: a(href="26.html") 제26분, 법신은 상이 아니다
      li: a(href="27.html") 제27분, 끊어짐도 멸함도 없다
      li: a(href="28.html") 제28분, 받지도 탐하지도 않는다
      li: a(href="29.html") 제29분, 위의가 적정하다
      li: a(href="30.html") 제30분, 이와 상을 하나로 합하다
      li: a(href="31.html") 제31분, 지견이 나지 않는다
      li: a(href="32.html") 제32분, 응당 교화하리라
      li: a(href="epilogue.html") 번역 후기

