doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='금강경')
    meta(property='og:site_name', content='Writings')

    block head-title
      title 금강경

    link(rel='stylesheet', href='/geum-gang-gyeong/lib/bootstrap.min.css')
    link(rel='stylesheet', href='/geum-gang-gyeong/css/base.css')
    script(src='/geum-gang-gyeong/lib/jquery.min.js')
    script(src='/geum-gang-gyeong/lib/bootstrap.min.js')

  body
    block page-header
      .page-header
        .site-name
          a(href='/geum-gang-gyeong/') 금강경

    block content

    .page-footer
      ul
        li
          a(href='https://github.com/drypot/geum-gang-gyeong/', target='_blank') View on GitHub
      .site-name
        a(href='/geum-gang-gyeong/') 금강경

